<div class="navegacao">
    <p><a routerLink="/" class="link">Home</a></p>
    <p><a routerLink="/newsletter" class="link">Inscreva-se em nossa Newsletter!</a></p>
    <p><b>Categorias</b></p>
    <ul class="categorias">
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
    </ul>
    <h3>Procurando alguma notícia?</h3>
    <div class="pesquisa">
        <form action="" method="POST">
            <input type="search" id="chave" name="busca" placeholder="Pesquisar por...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>